# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MMORPG.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\David\Desktop\tmpHandIn\gp20-2021-0426-rest-gameserver-dafors\MMORPG\.idea\.idea.MMORPG.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
